# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more
/config/master.key

# Bootsnap cache
/tmp/cache/bootsnap/

# Gemfile.lock - use fresh installs
Gemfile.lock

# Generated swagger output
swagger.json
